.bulbasaur-gif {
    position: fixed;
    bottom: -5px;
    left: -150px;
    width: 200px;
    z-index: -1;
    animation: bulbasaurWalkAcross 10s linear infinite;
  }
  
  .pikachu-gif {
    position: fixed;
    bottom: -5px;
    left: -150px;
    width: 230px;
    z-index: -1;
    animation: pikachuWalkAcross 7s linear infinite;
  }
  
  @keyframes bulbasaurWalkAcross {
    0% {
      left: -150px;
    }
    100% {
      left: calc(100vw + 150px);
    }
  }
  
  @keyframes pikachuWalkAcross {
    0% {
      left: -200px;
    }
    100% {
      left: calc(100vw + 150px);
    }
  }
  
  .bird-gif {
    position: fixed;
    top: 40px;
    left: -150px;
    width: 220px;
    z-index: 0;
  }
  
  .bird-one {
    animation: birdOneFlyAcross 14s linear infinite;
  }
  
  .bird-two {
    animation: birdTwoFlyAcross 9s linear infinite;
  }
  
  @keyframes birdOneFlyAcross {
    0% {
      left: -150px;
      top: 40px;
    }
    100% {
      left: calc(100vw + 150px);
      top: 40px;
    }
  }
  
  @keyframes birdTwoFlyAcross {
    0% {
      left: -150px;
      top: 40px;
    }
    100% {
      left: calc(100vw + 150px);
      top: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .bulbasaur-gif {
      display: none !important;
    }

    .pikachu-gif {
      display: none !important;
    }

    .bird-gif {
        top: 30px;
        left: -150px;
        width: 180px;
    }

    .bird-one {
        animation: birdOneFlyAcross 12s linear infinite;
    }

    .bird-two {
        animation: birdTwoFlyAcross 8s linear infinite;
    }
}

@media (min-width: 768px) {
    .bulbasaur-gif {
      display: none !important;
    }

    .pikachu-gif {
      display: none !important;
    }

    .bird-gif {
        top: 40px;
        left: -150px;
        width: 220px;
    }
}

@media (min-width: 1080px) {
    .bulbasaur-gif {
        bottom: -5px;
        left: -150px;
        width: 200px;
    }

    .pikachu-gif {
        bottom: -20px;
        left: -150px;
        width: 230px;
    }

    .bird-gif {
        top: 40px;
        left: -150px;
        width: 220px;
    }
}

@media (max-width: 449px) and (max-height: 749px) {
  .bulbasaur-gif,
  .pikachu-gif {
    display: block;
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  .bulbasaur-gif,
  .pikachu-gif {
    display: none !important; 
  }
}

@media (min-width: 768px) and (max-width: 1527px) {
  .bulbasaur-gif,
  .pikachu-gif {
    display: block !important; 
  }
}


@media (min-width: 1528px) {
  .bulbasaur-gif,
  .pikachu-gif {
    display: block;
  }
}


@media (min-width: 1528px) {
  .bulbasaur-gif,
  .pikachu-gif {
    display: block;
  }
}

