.lobby2-gameboy-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff !important;
  border-radius: 12px;
  padding: 20px;
}

.lobby2-lobby-screen {
  background-color: #ffffff !important;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  height: auto;
}

.lobby2-menu-screen {
  width: 320px;
  height: 400px;
  background-color: #ffffff !important;
  border: 4px solid #444;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto !important;
}

.lobby2-menu-screen::-webkit-scrollbar {
  display: none !important;
}

.lobby2-menu-content {
  font-family: 'Press Start 2P', cursive;
  color: white !important;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.lobby2-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  max-height: 300px; /* Enables scroll if content overflows */
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: none;
}

.lobby2-button-group::-webkit-scrollbar {
  display: none;
}

.lobby2-battle-button {
  width: 180px;
  height: 120px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 255, 255);
  color: rgb(64, 64, 64);
  border: 2px solid #444;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby2-button-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.lobby2-battle-button:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}

.lobby2-battle-button:focus {
  outline: none;
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.7);
}
