.lobby2-gameboy-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #a4d9a4;
  border-radius: 12px;
  padding: 20px;
}

.lobby2-menu-screen {
  width: 320px;
  height: 200px;
  background-color: #a4d9a4;
  border: 4px solid #444;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}



.lobby2-menu-content {
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.lobby2-button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.lobby2-battle-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background-color: #a4d9a4;
  color: rgb(64, 64, 64);
  border: 2px solid #444;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.lobby2-battle-button:hover {
  background-color: #8fca8f;
  transform: scale(1.05);
}

.lobby2-battle-button:focus {
  outline: none;
  box-shadow: 0 0 8px 3px rgba(0, 255, 0, 0.7);
}
